{% extends "layout.html" %}

{% block body %}
    <h2>Hakkımızda</h2>
    <hr>
    <p>A bene placito
        Memnun edilmiş birinden <br>
        
        A bove ante, ab asino retro, a stulto undique caveto
        Öküzün önünde, eşeğin arkasında, aptalın her tarafında hazırlıklı ol <br>
        
        Ab ovo usque ad mala
        Yumurtadan elmalara (Baştan sona anlamında: Romalıların geleneksel yemek sırasından esinlenerek, Horatius, Satir 1.3) <br>
        
        Absentem lædit, qui cum ebrio litigat
        Sarhoşla kavga eden, yerinde olmayan birini döver (Publius Syrus, Sentences) <br>
        
        Ab uno disce omnes
        Bir şeyden her şeyi öğren (Bir tek örnekle ya da gözlemle çıkarımlarda bulunulabileceği anlatılır, Virgilius, Aeneid) <br>
        
        Abusus non tollit usum
        Suistimal düzgün kullanmayı iptal ettirmez. (yani bir şey suistimal edilince onun düzgün kullanımını etkilememelidir) <br>
        
        Ab imo pectore
        Kalbin derinliklerinden (dürüstlükle)</p> 

{% endblock body %}